.hero {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 595px;
  background: url(../../assets/img/Frame.svg) center no-repeat #0b3e69;
  object-fit: contain;
}

.hero__inner {
  text-align: center;
}

.hero__text {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}
