$main-transition: all 0.2s ease-out;
$menu-btn-transition: all 0.5s ease-out;
$menu-bg: #222b33;
$menu-color: #fff;
$calculator-bg: #0084d4;
$calculator-color: #fff;
$exchange-bg: #134069;
$exchange-color: #fff;
$about-us-bg: #f2f3f8;
$about-us-color: #003662;
$contacts-bg: #1f252e;
$contacts-color: #8f9297;
$menu-hover: #009af8;
// $menu-hover: #92d5ff;
$border: #ddd;
